<h1>Welcome to Yelp Clone Demo</h1>
<h2>This is one of the sample applications from BaseRails, a platform to teach people how to build websites with Ruby on Rails</h2>
<p>Copyright Raymond Sapida</p>
