<h1>Welcome to Yelp Clone Demo</h1>
<h2>This is one of the sample applications from <a href="http://www.baserails.com/">BaseRails</a>, a platform to teach people how to build custom websites with Ruby on Rails</h2>
